PORT=3000

# Configuración Local
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=proyecto_negocio
DB_PORT=3306

# Configuración Railway (Se cargan automáticamente)
# MYSQLHOST=...
# MYSQLUSER=...
# MYSQLPASSWORD=...
# MYSQLDATABASE=...
# MYSQLPORT=...

# Seguridad
JWT_SECRET=tu_secreto_super_seguro_aqui_para_produccion
FRONTEND_URL=http://localhost:5173
